.wall-container {
  color : white;
  z-index: -1;
  position: fixed;
  left : 0;
  top : 0;
  width: 45vw;
  height: 100vh; // since its fixed don't want it to stretch with view-container growth
}

.relative-container {
  position: relative;
  width: 100%;
  height: 100%;

  & canvas {
    width: 100%;
    height: 100%;
  }
}