.slide-enter {
  transform: translateX(100vw);
}
.slide-exit {
  transform: translateX(0);
}

.slide-enter-active {
  z-index: 1;
  position: absolute;
  transform: translateX(0);
  transition: 700ms;
}
.slide-exit-active {
  z-index: 0;
  position: absolute;
  transform: translateX(100vw);
  transition: 700ms;
}