.page{

    position:fixed;
    background-size:1600px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 200px !important;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 16px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: default;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0.0);
  color: rgba(190, 190, 190, 1);
  border: 2px solid rgba(190, 190, 190, 1);
}

.explore{
  background-image: url("./BackgroundImages/test2.png");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size:1600px;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.button:hover {
  background-color: rgba(163, 29, 95, 0.5);
  color: rgba(190, 190, 190, 1);
  transform: scale(2);
}

.sidebar {
  margin: 0;
  z-index:0 !important;
  background-color: #090909;
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: visible;
}
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

div.content {
  margin-left: 300px;
  height: 100%;
}

.icon {
  width: 300px;
  height: 300px;
  padding: 10px;

}
.icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  div.content {position: relative; margin-left: 0 !important; width: 100%;}
}
