@import "../../scss/variables.scss";

$cell-margin : 15px;

.thumbnail {
  @include rigid-dimensions(100%, 100%);

  &.clicked {
    @include filter(brightness(70%));
  }

  & ~ .label {
    color : white;    
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $ui-black-50percent;

    & h2 {
      padding-left: 25px; 
      font-weight: normal;
    }
  }
}

.row {
  background-color: green;
  transition: 1s;
  opacity: 1;
  height: 10px;
  grid-column-start: 1;
  grid-column-end: -1;
}

:global(.grid-container) {
  display: grid;
}

:global(.cell) {
  margin: $cell-margin;
  position: relative;
  cursor: pointer;

  &:hover {
    @include filter(brightness(80%));
  }
}

@mixin gridStyles($cols ,$max-width : 75vw) {
  $width : #{$max-width / $cols};

  &:global(.grid-container)  {
    grid-template-columns: repeat($cols , minmax($width, 1fr));

    & :global(.cell) {
      height: calc(#{$width} - #{2 * $cell-margin});
    }
  }
}
