@import "../../scss/variables.scss";

img.portrait {
  height: 400px;
  width : $mobileIntermediate;
  object-fit: cover;
  margin: 15px;
  filter: drop-shadow(5px 5px 0px $secondary);
}

.about-view {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.bio {
  width: 600px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  & a:nth-of-type(1) {
    margin-right: 10px;;
  }

  & a {
    width : 90px;
    padding: 15px 10px;
    text-align: center;
    
    background-color: $primary;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;


    border: 1px solid $primary-alt;
    color: $ui-gray;

    &:hover {
      border: 1px solid $secondary;
      color: $secondary;
    }

  }
}

.link  {
  color: $secondary;  
}

@media #{$small}, #{$medium}, #{$intermediate}  {
  .about-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 75px 0;
  }
}