.explore{
  /*background-image: url("../resources/test2.png"); */
}

.content {
  margin-left: 0px;
  height: 100%;
  overflow-y: auto;
  /*background-color: rgba(200, 200, 200, 0.8);
  */
  background-clip: content-box;

}
.file-content {
  margin-left: 0px;
  height: 100%;
  overflow-y: auto;
  /*background-color: rgba(200, 200, 200, 0.8);
  */
}


.content-header {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 36px;
  transition: opacity 4s;
  opacity: 1;
 color: rgba(190, 190, 190, 1);
}

.content-sub {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-style: italic;
  color: rgba(190, 190, 190, 1);
}

@media screen and (max-width: 900px) {
 .content {
   padding-left: 2%;
   padding-right: 2%;
 }
}

@media screen and (max-width: 700px) {
 .content {
   border-left: none;
   position: relative;
   padding-left: 0px;
   padding-right: 0px;
   width: 100%;}
}
