.explore{
  /*background-image: url("../resources/test2.png"); */
}

.explore-button {
  border: none;
  color: white;
  width: 200px !important;
  padding: 10px 5px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 5px 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(190, 190, 190, 1);
  border: 2px solid rgba(190, 190, 190, 1);
}

.explore-button:hover {
  background-color: rgba(163, 29, 95, 0.5);
  color: rgba(190, 190, 190, 1);
  transform: scale(1.06);
}

.content {
  margin-left: 0px;
  height: 100%;
  overflow-y: auto;
  /*background-color: rgba(200, 200, 200, 0.8);
  */
  background-clip: content-box;

}
.file-content {
  margin-left: 0px;
  height: 100%;
  overflow-y: auto;
  /*background-color: rgba(200, 200, 200, 0.8);
  */
}


.content-header {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 36px;
  transition: opacity 4s;
  opacity: 1;
 color: rgba(190, 190, 190, 1);
}

.Content-Sub {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-style: italic;
  color: rgba(190, 190, 190, 1);
}

.slide-in-content {
  animation: entryContent ease 0.4s;
  -webkit-animation: entryContent ease 0.4s;
  -moz-animation: entryContent ease 0.4s;
  -o-animation: entryContent ease 0.4s;
  -ms-animation: entryContent ease 0.4s;
  margin-left : 300px !important;
}

.slide-out-content {
  animation: exitContent ease 0.4s;
  -webkit-animation: exitContent ease 0.4s;
  -moz-animation: exitContent ease 0.4s;
  -o-animation: exitContent ease 0.4s;
  -ms-animation: exitContent ease 0.4s;
  margin-left : 0px !important;
}

@keyframes exitContent {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}

@-webkit-keyframes exitContent {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}

@keyframes entryContent {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}

@-webkit-keyframes entryContent {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}


@media screen and (max-width: 900px) {
 .content {
   padding-left: 2%;
   padding-right: 2%;
 }
}

@media screen and (max-width: 700px) {
 .content {
   border-left: none;
   position: relative;
   padding-left: 0px;
   padding-right: 0px;
   width: 100%;}
}
