.icon-bar {
  width: 160px;
  overflow: auto;
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  bottom:0;
}

.icon-bar a {
  float: left;
  align: center;
  width: 20%;
  padding: 2px 2px;

  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.icon-bar a:hover {
  transform: scale(.9);
  opacity: 0.5;

}
