.main-container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parallax-content-header {
  display: flex;
  flex: 1 0 auto;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-4px) scale(5);
  color: white;
  img {
    position: absolute;
  }
}

.parallax-content-container {
  position: static;
  display: block;
  z-index: 1;
  clear:both;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  padding: 75px 0;
}

.background-parallax {
  display: flex;
  position: absolute;
  flex: 1 0 auto;
  z-index: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  float:left;
  img {
    overflow: visible;
  }
}

.gradient {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.pic1 {
  transform: translateZ(-1px) scale(2);
}
.pic2 {
  transform: translateZ(-2px) scale(4);
}
.pic3 {
  transform: translateZ(-3px) scale(9);
}
.pic4 {
  transform: translateZ(-2px) scale(4);
}
.pic5 {
  transform: translateZ(-1px) scale(2);
}
.pic6 {
  transform:translateZ(-4px) scale(10);
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
}

.scroller-down {
  justify-content: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 1s infinite 2s;
  animation: bounce 1s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);
}

.scroller-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.fade-out {
  opacity: 0 !important;
  visibility: hidden;
  animation: fadeOut ease .2s;
  -webkit-animation: fadeOut ease .2s;
  -moz-animation: fadeOut ease .2s;
  -o-animation: fadeOut ease .2s;
  -ms-animation: fadeOut ease .2s;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes fadeOut{
  from {
     opacity:1;
   }
   to {
     opacity:0;
   }
}

@-webkit-keyframes fadeOut {
  from {
     opacity:1;
   }
   to {
     opacity:0;
   }
}
