/*TODO: change all to common classes (remove mobile/desktop names)
but move mobel stuff inside 700px area*/

.sidebar {
  margin: 0;
  z-index:1;
  background-color: rgba(0, 0, 0, .8);
  padding: 0;
  width: 300px;
  height: 100%;
  position: fixed;
  float: left;
  overflow: auto;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.sidebar span {
   position: absolute;
   padding: 5px 10px;
   bottom: 0;
   left: 0;
   outline: none;
}

.sidebar .item {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  outline: none;

}
.sidebar-header {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 36px;
  transition: opacity 4s;
  opacity: 1;
  color: rgba(190, 190, 190, 1);
}

.sidebar-sub {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
  transition: opacity 4s;
  opacity: 1;
  color: rgba(190, 190, 190, 1);
}

.gray {
  background-color: gray;
}

.icon {
  margin: 0;
  padding: 0;
  width: 50px !important;
  height : 50px !important;
  overflow: auto;
  cursor: pointer;
  z-index: 1;
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.icon:hover {
  opacity: 0.5;
}

/*margin-left: 250px;*/
.menu-icon {
  position: fixed;
  float: left;
  overflow: auto;
}

.desktop-slide-in {
  animation: desktop-entry ease 0.4s;
  -webkit-animation: desktop-entry ease 0.4s;
  -moz-animation: desktop-entry ease 0.4s;
  -o-animation: desktop-entry 0.4s;
  -ms-animation: desktop-entry ease 0.4s;
  margin-left : 300px !important;
}

.desktop-slide-out {
  animation: desktop-exit ease 0.4s;
  -webkit-animation: desktop-exit ease 0.4s;
  -moz-animation: desktop-exit ease 0.4s;
  -o-animation: desktop-exit ease 0.4s;
  -ms-animation: desktop-exit ease 0.4s;
  margin-left : 0px !important;
}

@keyframes desktop-entry {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}

@-webkit-keyframes desktop-entry {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}

@keyframes desktop-exit {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}

@-webkit-keyframes desktop-exit {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}

/*note that 368px is the with of the sidebar with 4 buttons
and must be adjusted if more or less buttons are added. if cosntants existed in css this would be easier*/
.mobile-slide-in {
  animation: mobile-entry ease 0.4s;
  -webkit-animation: mobile-entry ease 0.4s;
  -moz-animation: mobile-entry ease 0.4s;
  -o-animation: mobile-entry ease 0.4s;
  -ms-animation: mobile-entry ease 0.4s;
  margin-top: 376px !important;
}

.mobile-slide-out {
  animation: mobile-exit ease 0.4s;
  -webkit-animation: mobile-exit ease 0.4s;
  -moz-animation: mobile-exit ease 0.4s;
  -o-animation: mobile-exit ease 0.4s;
  -ms-animation: mobile-exit ease 0.4s;
  margin-top: 0% !important;
}

@keyframes mobile-entry {
from {
   margin-top: 0%;
 }
 to {
   margin-top: 376px;
 }
}

@-webkit-keyframes mobile-entry {
from {
   margin-top: 0%;
 }
 to {
   margin-top: 376px;
 }
}

@keyframes mobile-exit {
from {
   margin-top: 376px;
 }
 to {
   margin-top: 0%;
 }
}

@-webkit-keyframes mobile-exit {
  from {
     margin-top: 376px;
   }
   to {
     margin-top: 0%;
   }
}

.slide-in {
  animation: entry ease 0.4s;
  -webkit-animation: entry ease 0.4s;
  -moz-animation: entry ease 0.4s;
  -o-animation: entry ease 0.4s;
  -ms-animation: entry ease 0.4s;
   margin-top: 0% !important;
}
.slide-out {
  animation: exit ease 0.4s;
  -webkit-animation: exit ease 0.4s;
  -moz-animation: exit ease 0.4s;
  -o-animation: exit ease 0.4s;
  -ms-animation: exit ease 0.4s;
  margin-top : -376px !important;
}

@keyframes entry {
from {
   margin-top: -376px;
 }
 to {
   margin-top: 0%;
 }
}

@-webkit-keyframes entry {
  from {
     margin-top: -376px;
   }
   to {
     margin-top: 0%;
   }
}

@keyframes exit {
from {
  margin-top: 0%;

 }
 to {
   margin-top: -376px;
 }
}

@-webkit-keyframes exit {
  from {
    margin-top: 0%;
   }
   to {
     margin-top: -376px;
   }
}


.slide-out-desk {
  animation: exitDesk ease 0.4s;
  -webkit-animation: exitDesk ease 0.4s;
  -moz-animation: exitDesk ease 0.4s;
  -o-animation: exitDesk ease 0.4s;
  -ms-animation: exitDesk ease 0.4s;
    margin-left : -300px !important;
}

.slide-in-desk {
  animation: entryDesk ease 0.4s;
  -webkit-animation: entryDesk ease 0.4s;
  -moz-animation: entryDesk ease 0.4s;
  -o-animation: entryDesk ease 0.4s;
  -ms-animation: entryDesk ease 0.4s;
  margin-left : 0px !important;
}


@keyframes exitDesk {
from {
   margin-left: 0px;
 }
 to {
   margin-left: -300px;
 }
}

@-webkit-keyframes exitDesk {
  from {
     margin-left:0px;
   }
   to {
     margin-left: -300px;
   }
}

@keyframes entryDesk {
  from {
     margin-left: -300px;
   }
   to {
     margin-left: 0px;
   }
}

@-webkit-keyframes entryDesk {
  from {
     margin-left: -300px;
   }
   to {
     margin-left: 0px;
   }
}

/*THE FOLLOWING CSS CODE REDECLARES AND CHANGES ALL THE PREVIOUS CSS CLASSES
 SO THAT THE SIDE BAR ANIMATES PROPERLY ON SMALLER SCREENS. NAMES OF CLASSES
 REMAIN THE SAME SO THAT SCREEN RESPONSIVENESS IS MANAGED BY CSS ONLY */


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar span {
     bottom: 0;
     left: 1;
  }

}
