/*TODO: change all to common classes (remove mobile/desktop names)
but move mobel stuff inside 700px area*/

.sidebar {
  margin: 0;
  z-index:1;
  background-color: rgba(0, 0, 0, .8);
  padding: 0;
  width: 300px;
  height: 100%;
  position: fixed;
  float: left;
  overflow: auto;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.sidebar span {
   position: absolute;
   padding: 5px 10px;
   bottom: 0;
   left: 0;
   outline: none;
}

.sidebar .item {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  outline: none;

}
.sidebar-header {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 36px;
  transition: opacity 4s;
  opacity: 1;
  color: rgba(190, 190, 190, 1);
}

.sidebar-sub {
  text-align: center;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
  transition: opacity 4s;
  opacity: 1;
  color: rgba(190, 190, 190, 1);
}

.gray {
  background-color: gray;
}

.icon {
  margin: 0;
  padding: 0;
  width: 50px !important;
  height : 50px !important;
  overflow: auto;
  cursor: pointer;
  z-index: 1;
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.icon:hover {
  opacity: 0.5;
}

/*margin-left: 250px;*/
.menu-icon {
  position: fixed;
  float: left;
  overflow: auto;
}

.icon-slide-in {
  animation: icon-entry ease 0.4s;
  -webkit-animation: icon-entry ease 0.4s;
  -moz-animation: icon-entry ease 0.4s;
  -o-animation: icon-entry 0.4s;
  -ms-animation: icon-entry ease 0.4s;
  margin-left : 300px !important;
}

.icon-slide-out {
  animation: icon-exit ease 0.4s;
  -webkit-animation: icon-exit ease 0.4s;
  -moz-animation: icon-exit ease 0.4s;
  -o-animation: icon-exit ease 0.4s;
  -ms-animation: icon-exit ease 0.4s;
  margin-left : 0px !important;
}

@keyframes icon-entry {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}

@-webkit-keyframes icon-entry {
  from {
     margin-left: 0px;
   }
   to {
     margin-left: 300px;
   }
}
@keyframes icon-exit {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}

@-webkit-keyframes icon-exit {
  from {
     margin-left: 300px;
   }
   to {
     margin-left: 0px;
   }
}


.sidebar-slide-out {
  animation: sidebar-exit ease 0.4s;
  -webkit-animation: sidebar-exit ease 0.4s;
  -moz-animation: sidebar-exit ease 0.4s;
  -o-animation: sidebar-exit ease 0.4s;
  -ms-animation: sidebar-exit ease 0.4s;
    margin-left : -300px !important;
}

.sidebar-slide-in {
  animation: sidebar-entry ease 0.4s;
  -webkit-animation: sidebar-entry ease 0.4s;
  -moz-animation: sidebar-entry ease 0.4s;
  -o-animation: sidebar-entry ease 0.4s;
  -ms-animation: sidebar-entry ease 0.4s;
  margin-left : 0px !important;
}


@keyframes sidebar-exit {
from {
   margin-left: 0px;
 }
 to {
   margin-left: -300px;
 }
}

@-webkit-keyframes sidebar-exit {
  from {
     margin-left:0px;
   }
   to {
     margin-left: -300px;
   }
}

@keyframes sidebar-entry {
  from {
     margin-left: -300px;
   }
   to {
     margin-left: 0px;
   }
}

@-webkit-keyframes sidebar-entry {
  from {
     margin-left: -300px;
   }
   to {
     margin-left: 0px;
   }
}

/*THE FOLLOWING CSS CODE REDECLARES AND CHANGES ALL THE PREVIOUS CSS CLASSES
 SO THAT THE SIDE BAR ANIMATES PROPERLY ON SMALLER SCREENS. NAMES OF CLASSES
 REMAIN THE SAME SO THAT SCREEN RESPONSIVENESS IS MANAGED BY CSS ONLY */


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar span {
     bottom: 0;
     left: 1;
  }

  .icon-slide-in {
    margin-top: 376px !important;
    margin-left: 0% !important;
  }

  .icon-slide-out {
   margin-top:  0% !important;
   margin-left: 0% !important;
  }

  @keyframes icon-entry {
  from {
     margin-top: 0% ;
   }
   to {
     margin-top: 376px;
   }
  }

  @-webkit-keyframes icon-entry {
  from {
     margin-top: 0%;
   }
   to {
     margin-top: 376px;
   }
  }

  @keyframes icon-exit {
  from {
     margin-top: 376px;
   }
   to {
     margin-top: 0%;
   }
  }

  @-webkit-keyframes icon-exit {
    from {
       margin-top: 376px;
     }
     to {
       margin-top: 0%;
     }
  }

  .sidebar-slide-in {
     margin-top: 0% !important;
     margin-left:  0% !important;
  }
  .sidebar-slide-out {
    margin-top : -376px !important;
    margin-left:  0% !important;
  }

  @keyframes sidebar-entry {
  from {
     margin-top: -376px;
   }
   to {
     margin-top: 0%;
   }
  }

  @-webkit-keyframes sidebar-entry {
    from {
       margin-top: -376px;
     }
     to {
       margin-top: 0%;
     }
  }

  @keyframes sidebar-exit {
  from {
    margin-top: 0%;

   }
   to {
     margin-top: -376px;
   }
  }

  @-webkit-keyframes sidebar-exit {
    from {
      margin-top: 0%;
     }
     to {
       margin-top: -376px;
     }
  }

}
