@import "../../scss/variables.scss";

.view-container {
  position: absolute;
  right: 0;
  
  // bottom: 0;
  top: 0;
  left: 0;

  min-height: 100vh;

  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;

  background-color: $ui-black-25percent;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // overflow: scroll;
}


// Firefox doesn't support backdrop-filter so we'll increase opacity
@-moz-document url-prefix() {
  .view-container {
    background-color: $ui-black-75percent;
  }
}