@import "../../scss/variables.scss";
@import "../../components/content-grid/styles.scss";

.image {
  @include rigid-dimensions($mobileIntermediate, 400px);

  margin-bottom: 20px;
  margin-right: 20px;
}

.projects-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 75px;
  padding-bottom: 50px;
  overflow-y: scroll;
}

// required 
.grid {
  @media #{$big} {
    @include gridStyles(4 , 87.5vw);
  }
  @media #{$intermediate} {
    @include gridStyles(3 , 87.5vw);
  }
  @media #{$medium} {
    @include gridStyles(2 , 90vw);
  }
  @media #{$small} {
    @include gridStyles(1 , 95vw);
  }
}